*.swp
*.swo
apache-tomcat-9.0.8/logs/*
reports/*
apache-tomcat-9.0.8/logs/catalina.out
tasks/go/src/*
tasks/javascript/grpc/node_modules/*
tasks/javascript/rest/node_modules/*
tasks/javascript/rpc/node_modules/*
tasks/javascript/express-rpc/node_modules/*
tasks/csharp/rest/obj/*
tasks/csharp/rest/bin/*
tasks/csharp/rpc/src/SimpleRpc/bin/*
tasks/csharp/rpc/src/SimpleRpc/obj/*
tasks/csharp/rpc/sample/*/obj/*
tasks/csharp/rpc/sample/*/bin/*
tasks/csharp/grpc/Greeter/bin/*
tasks/csharp/grpc/GreeterServer/bin/*
tasks/csharp/grpc/GreeterClient/bin/*
tasks/csharp/grpc/Greeter/obj/*
tasks/csharp/grpc/GreeterServer/obj/*
tasks/csharp/grpc/GreeterClient/obj/*
tasks/ruby/rest/tmp/*
tasks/ruby/rest/log/*
tasks/php/grpc/node_modules/*
tasks/php/rpc/vendor/*
